* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;

    align-items: center;
    justify-content: space-evenly;
}


.nav-logo {
    height: 50px;
    width: 100px;

}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;

}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;


}

.india {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;

}



span {
    font-size: 0.7rem;

}

.nav-second {
    font-size: .85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;

}

.nav-cart {
    font-size: 0, .85rem;
    font-weight: 700;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.panel-all {
    display: flex;
}

.panel-ops p {
    display: inline;
    margin-left: 20px;

}

.panel-ops p:hover {
    color: rgb(200, 207, 232);
    font-weight: 700;
}

.panel-ops {
    width: 90%;
    font-size: 0.85rem;
}

.hero-section {
    background-image: url("2ndhero.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
    font-weight: 700;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e6d7;

}

.box {
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;

}

.foot-panel3 {
    background-color: #222f3d;

    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.logo2 {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin: 10px;
}

.logo2-eng {
    border: 1px solid white;
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin: 10px;

}

.ind {
    border: 1px solid white;
    color: white;
    margin: 8px;
    height: 9px;
    width: 60px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-panel4 {
    height: 110px;
    width: 100%;
    background-color: #131a22;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



}

.cont {

    height: 73px;
    width: 80px;
    padding: 12px;
}

.cont p {
    font-size: .65rem;
}

.foot-panel5 {
    height: 76px;
    width: 100%;
    background-color: #131a22;
}

.condition {
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.condition a {
    color: white;
    padding: 3px;
}

.copyright {
    
    text-align: center;
    color: white;
}

/* ==================== RESPONSIVE STYLES ==================== */

/* Tablet Styles */
@media screen and (max-width: 1024px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .nav-search {
        width: 400px;
    }

    .box {
        width: 45%;
    }

    .panel-ops p {
        margin-left: 10px;
        font-size: 0.75rem;
    }

    .hero-msg {
        width: 90%;
        font-size: 0.75rem;
    }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
        height: auto;
        padding: 10px 5px;
        gap: 10px;
    }

    .nav-logo {
        order: 1;
        width: 80px;
        height: 40px;
    }

    .logo {
        height: 40px;
    }

    .nav-address {
        order: 3;
        display: none;
    }

    .nav-search {
        order: 6;
        width: 100%;
        height: 40px;
        margin-top: 5px;
    }

    .india {
        order: 2;
        font-size: 1.2rem;
    }

    .india select {
        display: none;
    }

    .nav-sign {
        order: 4;
        font-size: 0.7rem;
    }

    .nav-sign p span {
        font-size: 0.6rem;
    }

    .nav-second {
        font-size: 0.7rem;
    }

    .nav-return {
        order: 5;
        display: none;
    }

    .nav-cart {
        order: 5;
        font-size: 0.7rem;
    }

    .nav-cart i {
        font-size: 22px;
    }

    /* Panel Section */
    .panel {
        height: auto;
        padding: 8px;
        flex-wrap: wrap;
    }

    .panel-all {
        width: 100%;
        margin-bottom: 5px;
    }

    .panel-ops {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .panel-ops::-webkit-scrollbar {
        display: none;
    }

    .panel-ops p {
        display: inline-block;
        margin-left: 8px;
        font-size: 0.75rem;
        padding: 5px;
    }

    /* Hero Section */
    .hero-section {
        height: 200px;
        background-position: center;
    }

    .hero-msg {
        width: 95%;
        height: auto;
        padding: 10px;
        flex-direction: column;
        text-align: center;
        font-size: 0.75rem;
        margin-bottom: 10px;
    }

    .hero-msg p {
        margin-bottom: 5px;
    }

    /* Shop Section */
    .shop-section {
        padding: 10px;
    }

    .box {
        width: 48%;
        height: 320px;
        padding: 10px 0px 10px;
        margin-top: 10px;
    }

    .box-img {
        height: 200px;
    }

    .box-content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .box-content h2 {
        font-size: 1rem;
    }

    /* Footer */
    .foot-panel2 {
        flex-wrap: wrap;
        height: auto;
        padding: 20px 10px;
    }

    .foot-panel2 ul {
        width: 45%;
        margin: 10px 0;
    }

    .foot-panel3 {
        flex-wrap: wrap;
        height: auto;
        padding: 15px;
        justify-content: center;
    }

    .logo2 {
        width: 80px;
        height: 40px;
    }

    .foot-panel4 {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }

    .cont {
        width: 45%;
        height: auto;
        padding: 10px;
        margin: 5px 0;
    }

    .foot-panel5 {
        height: auto;
        padding: 15px 10px;
    }

    .condition {
        flex-wrap: wrap;
        gap: 5px;
    }

    .condition a {
        font-size: 0.75rem;
    }

    .copyright {
        font-size: 0.75rem;
        margin-top: 10px;
    }
}

/* Small Mobile Styles */
@media screen and (max-width: 480px) {
    .navbar {
        padding: 8px 5px;
        gap: 5px;
    }

    .nav-logo {
        width: 70px;
        height: 35px;
    }

    .logo {
        height: 35px;
    }

    .nav-search {
        width: 100%;
    }

    .search-select {
        width: 40px;
        font-size: 0.75rem;
    }

    .search-input {
        font-size: 0.85rem;
    }

    .nav-sign {
        padding: 2px;
    }

    .nav-sign p span {
        font-size: 0.55rem;
    }

    .nav-second {
        font-size: 0.65rem;
    }

    .nav-cart {
        font-size: 0.65rem;
    }

    .nav-cart i {
        font-size: 18px;
    }

    /* Panel */
    .panel-ops p {
        font-size: 0.7rem;
        margin-left: 5px;
    }

    /* Hero */
    .hero-section {
        height: 150px;
    }

    .hero-msg {
        font-size: 0.65rem;
        padding: 8px;
    }

    /* Shop Section */
    .box {
        width: 100%;
        height: auto;
        min-height: 300px;
        margin: 10px 5px;
    }

    .box-img {
        height: 220px;
    }

    .box-content h2 {
        font-size: 1.1rem;
    }

    /* Footer */
    .foot-panel2 {
        flex-direction: column;
        align-items: center;
    }

    .foot-panel2 ul {
        width: 90%;
        text-align: center;
    }

    .foot-panel2 ul p {
        font-size: 1rem;
    }

    .foot-panel2 ul a {
        font-size: 0.8rem;
    }

    .foot-panel3 {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .foot-panel4 {
        justify-content: center;
    }

    .cont {
        width: 40%;
        text-align: center;
    }

    .cont h5 {
        font-size: 0.75rem;
    }

    .cont p {
        font-size: 0.6rem;
    }

    .condition {
        flex-direction: column;
        padding: 10px;
    }

    .copyright {
        font-size: 0.65rem;
        padding: 10px;
    }
}